.productList {
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  margin: 0 auto;
}

.productItem {
  display: flex;
  flex-flow: row wrap;
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f8fafc;
  border-radius: 25px;
}

.productItem:nth-child(3n) {
  margin-right: 0;
}

/* ================ MEDIA ================ */

@media (min-width: 1787px) {
  .productList {
    width: 1787px;
  }

  .productItem {
    width: 573px;
    height: 707px;
    margin-right: 34px;
  }
}
